.match2 {
    width: 100vw;

    &__background {
        background: url("/assets/bg-grad.webp") no-repeat;
        background-size: 100% 191px;
        width: 100%;
        padding: 24px;
        padding-top: 20px;
        padding-left: 26px;
        padding-right: 22px;
        font-family: var(--Inter);
    }


    &__title {
        display: inline-flex;
        height: 28px;
        padding: 1px 0 2px 0;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24.889px;
        /* 155.556% */
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }

    &__match {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background: var(--Neutral-Card, #FFF);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        margin-top: 28px;
        padding: 16px;
        padding-bottom: 24px;
        padding-top: 24px;
        flex-direction: column;
        align-self: stretch;

        .title {
            color: var(--Neutral-Mid-Gray, #808797);
            text-align: center;
            display: flex;
            flex-direction: column;
            /* Inter/12-reg */
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            /* 150% */
            letter-spacing: -0.5px;
            align-self: stretch;

        }

        .team {
            display: flex;
            gap: 8px;
            width: 100%;
            align-self: stretch;


            .item {
                display: flex;
                padding: 0 2px;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                flex: 1 0 0;
                align-self: stretch;
                color: var(--Neutral-Card, #1F2022);
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 184.615% */
                letter-spacing: -0.5px;

                .logo {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    background-color: bisque;
                }


            }


        }

        .date {
            display: flex;
            gap: 4px;
            flex-direction: column;
            justify-content: center;

            .date {
                color: var(--Neutral-Card, #1F2022);
                text-align: center;

                /* Inter/12-semi */
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                /* 150% */
                letter-spacing: -0.5px;
            }

            .location {

                color: var(--Neutral-Mid-Gray, #808797);
                text-align: center;

                /* Inter/12-reg */
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                /* 150% */
                letter-spacing: -0.5px;
            }
        }
    }

    &__cat {
        display: flex;
        width: 100%;
        height: 50px;
        padding: 7.993px 0 0 15.994px;
        align-items: flex-start;
        gap: 7.993px;
        border-bottom: 0.559px solid rgba(0, 0, 0, 0.10);
        background: #FFF;

        .btn {
            display: flex;
            padding: 8.326px 15.042px 6.799px 15.994px;
            justify-content: center;
            align-items: center;
            color: #717182;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 17.143px;

            /* 142.858% */
            &.active {
                border-radius: 18759100px;
                background: linear-gradient(180deg, #F82476 0%, #F33B00 100%);
                color: #FFF;
            }
        }
    }

    &__predictionTab {
        margin-bottom: 50px;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 23.996px;
        padding: 0 16px;
    }

    &__predictionTabItem {
        width: 100%;
        margin-top: 16px;

    }

    &__heading {
        color: #1F2022;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        display: flex;
        justify-content: flex-start;
    }

    &__compare {
        margin-top: 16px;
        display: flex;
        height: auto;
        padding-right: 0;
        justify-content: center;
        align-items: flex-start;
        gap: 11.994px;
        align-self: stretch;

        .item {
            display: flex;
            width: 106.939px;
            height: 112.713px;
            padding: 15.994px 15.994px 0 15.994px;
            flex-direction: column;
            align-items: flex-start;
            gap: 7.993px;
            border-radius: 14px;

            &.blue {
                background: #EFF6FF;
            }

            &.purple {
                background: #FAF5FF;
            }

            &.green {
                background: #F0FDF4;
            }

            .title {
                color: #717182;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 13.333px;
                /* 133.333% */
            }

            .result {
                display: flex;
                flex-direction: column;
                gap: 3.13px;

                .text {
                    color: #1F2022;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17.143px;
                    /* 142.858% */
                }
            }

            .point {
                color: #155DFC;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24.889px;

                /* 155.556% */
                &.purple {
                    color: #9810FA;
                }
            }

            .ratio {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-shrink: 0;
                align-self: stretch;

                .text {


                    color: #1F2022;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17.143px;
                    /* 142.858% */
                }
            }
        }
    }

    &__phongdo {
        color: #1F2022;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 17.143px;
        /* 142.858% */
        margin-top: 12px;

        .name {
            margin-top: 12px;
            color: #1F2022;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 17.143px;
            /* 142.858% */
        }

        .history {
            display: flex;
            align-items: flex-start;
            gap: 3.992px;
            flex-shrink: 0;
            align-self: stretch;
            margin-top: 8px;

            &--item {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                justify-content: center;
                align-items: center;

                &.win {
                    background: #00C950;
                }

                &.draw {
                    background: #F0B100;
                }

                &.lose {
                    background: #FB2C36;
                }

                .text {
                    margin-top: 8px;
                    width: 100%;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 4px;


                }
            }
        }
    }

    &__history {
        width: 100%;
    }

    &__history-result {
        display: flex;
        height: 92.508px;
        padding: 15.994px 15.995px 0 15.994px;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 14px;
        background: #ECECF0;
        justify-content: space-between;
        width: 100%;

        .item {
            display: flex;
            height: 60.519px;
            flex-direction: column;
            align-items: center;
            gap: 3.992px;
            flex: 1 0 0;

            .score {
                text-align: center;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 43.2px;

                /* 120% */
                &.win {
                    color: #155DFC;
                }

                &.draw {
                    color: #4A5565;
                }

                &.lose {
                    color: #E7000B;
                }
            }

            .text {
                color: #717182;
                text-align: center;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 13.333px;
                /* 133.333% */
            }
        }
    }

    &__average {
        width: 100%;

        &--inner {
            margin-top: 12px;
            display: flex;
            height: 87.389px;
            padding-right: 0;
            justify-content: center;
            align-items: flex-start;
            gap: 11.993px;
            align-self: stretch;

            .item {
                display: flex;
                width: 166.409px;
                height: 87.389px;
                padding: 11.994px 11.994px 0 11.994px;
                flex-direction: column;
                align-items: flex-start;
                gap: 7.993px;
                border-radius: 10px;
                background: #EFF6FF;
                color: #1F2022;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 17.143px;
                /* 142.858% */

                &.red {
                    background: #FEF2F2;
                }

                .result {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .text {
                        color: #1F2022;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17.143px;
                        display: flex;
                        align-items: flex-start;
                        gap: 2.533px;
                        align-self: stretch;

                        &.bold {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    &__ai {
        display: flex;
        width: 100%;
        height: auto;
        padding: 15.995px 15.995px 16px 15.994px;
        flex-direction: column;
        align-items: flex-start;
        gap: 11.994px;
        flex-shrink: 0;
        border-radius: 14px;
        background: linear-gradient(135deg, #FAF5FF 0%, #EFF6FF 100%);

        .content {
            display: flex;
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 7.993px;
            flex-shrink: 0;
            align-self: stretch;

            .text {
                color: #1F2022;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 17.143px;
                /* 142.858% */
            }
        }

        .trustfulness {
            display: flex;
            height: 37.44px;
            padding-right: 0;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;

            .text {
                color: #1F2022;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 17.143px;
                /* 142.858% */
            }

            .score {
                color: #00A63E;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24.889px;

                /* 155.556% */
                &.medium {
                    color: #FFC107;
                }

                &.low {
                    color: #FF5722;
                }
            }
        }

    }

    &__sugesstion-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    &__suggestion {
        display: flex;
        height: auto;
        padding: 12.553px 12.553px 12.553px 12.553px;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.992px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 10px;
        color: #717182;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 13.333px;

        &.green {
            border: 0.559px solid #B9F8CF;
            background: #F0FDF4;
        }

        /* 133.333% */
        &.blue {
            border: 0.559px solid #BEDBFF;
            background: #EFF6FF;
        }

        .title {
            display: flex;
            height: 21.314px;
            padding-right: 0;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
            color: #1F2022;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 17.143px;

            /* 142.858% */
            .justification {
                display: flex;
                padding: 4.551px 7.935px 2.763px 7.993px;
                justify-content: center;
                align-items: center;
                color: #FFF;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 13.333px;
                border-radius: 4px;

                /* 133.333% */
                &.blue {
                    background: #155DFC;

                }

                &.green {
                    background: #00A63E;
                }
            }
        }

        .content {
            color: #717182;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 13.333px;
            /* 133.333% */
        }
    }
}