.league {

    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {


        display: flex;
        align-items: left;
        gap: 4px;
        align-self: stretch;
        color: var(--Neutral-Dark, #141414);

        /* Teko/20-semi */
        font-family: var(--Inter);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        /* 140% */
        text-transform: uppercase;

        svg {
            margin-top: 3px;
        }
    }

    &__location {
        color: var(--Neutral-Mid-Gray, #808797);
        text-align: left;

        /* Inter/12-reg */
        font-family: var(--Inter);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
        letter-spacing: -0.5px;
        margin-bottom: 16px;

    }

    &__board {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        font-family: var(--Inter);
        margin-top: 16px;

    }

    &__item {
        display: flex;
        padding: 12px;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 12px;
        background: var(--Neutral-Card, #F7F7F7);

        .time {
            display: flex;
            width: 40px;
            padding: 8px 14px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--Neutral-Mid-Gray, #808797);
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            /* 160% */
            letter-spacing: -0.5px;

        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .name {
                    display: flex;
                    width: 111px;
                    height: 32px;
                    padding-right: 2px;
                    align-items: center;
                    gap: 12px;
                    color: var(--Neutral-Card, #1F2022);
                    text-align: center;
                    white-space: nowrap;
                    /* Inter/14-reg */
                    font-family: var(--Inter);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 171.429% */
                    letter-spacing: -0.5px;

                    .logo {
                        display: flex;
                        width: 32px;
                        height: 32px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 40px;
                        background: var(--Neutral-Dark, #141414);
                    }
                }

                .score {
                    color: var(--Neutral-Mid-Gray, #808797);
                    text-align: center;

                    /* Inter/14-semi */
                    font-family: var(--Inter);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 171.429% */
                    letter-spacing: -0.5px;
                }
            }
        }

    }

    /* Wrapper: lighter background line */
    .progress-wrapper {
        width: 100%;
        height: 1px;
        background: var(--Neutral-Light-Gray, #C2C7CE);
        /* lighter */
        position: relative;

        &.active {
            background: var(--Colors-Secondary-03, #1F8E4B);
            opacity: 0.1;
        }
    }

    /* Progress line: darker, animated */
    .progress-line {
        height: 1px;
        width: 0%;
        background: var(--Neutral-Mid-Gray, #808797);
        /* darker */

        /* 1% per second */
        &.active {
            animation: grow 100s linear forwards;

            background: var(--Colors-Secondary-03, #1F8E4B);
        }
    }

    @keyframes grow {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    .active {
        //background: var(--Colors-Secondary-03, #1F8E4B);
        color: var(--Colors-Secondary-03, #1F8E4B) !important;
    }
}