.view-more--btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #F6F6F6;
    color: #121212;
    font-family: var(--font-family-Font-1, "Inter Display");
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-15, 15px);
    /* 125% */
    color: black;

    background: rgba(255, 255, 255, 0.20);
    padding: 10px 0;
    text-align: center;
    width: calc(100% - 32px);
    margin: 14px;
    background: #F6F6F6;

    &.black {
        color: #FFF;
        background: rgba(255, 255, 255, 0.20);
        padding: 10px 0;
        text-align: center;
        width: calc(100% - 32px);
        margin: 16px;
        margin-top: 24px;
        margin-bottom: 0;

    }
}