.modal--dropdown {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #FFF;
    height: auto;
    font-family: var(--Inter);
    overflow-x: auto;

    &__container {
        border-bottom: 1px solid #E5E7EB;
        padding: 20px 14px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;

        &.no-border {
            border: none;
        }
    }

    &__content {

        display: flex;
        align-items: flex-start;
        gap: 110px;
        align-self: stretch;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &__title {
                display: flex;
                font-size: 16px;
                font-weight: 500;
                gap: 4px;
                white-space: nowrap;

                .deco {
                    height: 20px;
                    width: 4px;
                    background-color: #B72424;
                    margin-top: 2px;
                }
            }

            &__sub {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &__item {
                    font-size: 14px;
                    color: #6B7280;
                    white-space: nowrap;

                    &:hover {
                        color: #1A2AD1;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }
            }
        }
    }

    &__event {
        align-items: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--header {
            display: flex;
            gap: 14px;

            .show-all--btn {
                padding: 1px 10px;
                background-color: #e1e1f3;
                font-size: 13px;
                border-radius: 10px;
            }
        }
    }

    &__title {
        font-size: 14px;

        &.bold {
            font-weight: 700;
        }
    }

    &__contact {
        display: flex;
        gap: 30px;

        .group {
            display: flex;

            gap: 12px;
        }
    }
}

.share--dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 97;


    &__container {
        position: fixed;
        z-index: 97;
        background-color: white;
        border-radius: 10px;
        width: 300px;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        padding: 16px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        font-family: var(--Inter);
        font-size: 20px;
        font-weight: 500;
        max-width: 470px;
        width: calc(100% - 32px);
    }
}

.share-overlay {
    position: fixed;
    inset: 0;
    // background: rgba(0, 0, 0, 0.4); // độ mờ
    z-index: 95;
}

.share {
    &__modal {
        display: flex;
        gap: 14px;
        position: sticky;
        top: calc(var(--header-h, 65px) + 50px);
        z-index: 10;
        align-self: flex-start;
        flex-shrink: 0;
        margin-top: 16px;


        &--link {
            border-radius: 20px;
            background: var(--color-grey-95, #F3F3F3);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 25px;
                height: 25px;
            }

            .zalo {
                width: 20px;
                height: 20px;
                filter: grayscale(100%);
            }
        }

        &--line {
            margin-top: 16px;
            border-radius: 10px;
            width: 100%;
            height: 40px;
            display: flex;
            border: 1px rgba(0, 0, 0, 0.1) solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 26px 0;

            &--btn {
                background-color: #1A2AD1;
                color: white;
                border-radius: 20px;
                padding: 4px 14px;
                font-size: 14px;
                height: 36px;
                margin-right: 10px;
                white-space: nowrap;
            }

            &--text {
                width: 300px;
                margin-left: 16px;
                overflow-x: auto;
                white-space: nowrap;
                font-size: 14px;
                font-weight: 200;

            }
        }

    }
}