.detail-section {
    margin-top: 100px;
}

.detail--desktop {
    width: 100%;
    background: #F3F2F2;
    padding: 23px 14px;
    display: flex;
    justify-content: center;

    &.white {
        background-color: white;
    }
}

.detail-right {
    flex-direction: column;
    flex-shrink: 0;
    gap: 19px;
    width: 350px;
    display: flex;
}

.detail-layout {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    padding-right: 24px;
    align-self: flex-start;

    @media (max-width: 768px) {
        width: 100%;
        gap: 0;
        padding-right: 0;
    }

    .link--detail {
        display: flex;
        flex-direction: column;
        gap: 14px;
        position: sticky;
        top: calc(var(--header-h, 65px) + 50px);
        z-index: 10;
        align-self: flex-start;
        flex-shrink: 0;

        // Optional: If the sidebar content is tall, allow internal scrolling
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }


        .link {
            border-radius: 20px;
            background: var(--color-grey-95, #F3F3F3);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.detail__card {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;

    @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &> :nth-child(3) {
            display: none;
        }
    }

    @media(max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.detail__footer {
    flex-direction: column;
    padding: 0 16px;

    .adv img {
        padding: 0 179.5px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

}