.card-title {
    border-radius: 14px 14px 0 0;
    border-bottom: 1px solid #F0F0EE;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;

    &.blue {
        background: #0056FF;
    }

    &__title {
        display: flex;
        padding: 10px 14px;
        // padding-left: 0;
        align-items: flex-start;
        align-self: stretch;



        .deco {
            position: relative;
            left: -14px;


        }

        .text {
            display: flex;
            gap: 8.664px;
            color: #B72424;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 145%;
            /* 26.1px */
            letter-spacing: -0.27px;
        }

        .logo {
            height: 30.46px;
        }
    }

    &__content {
        display: flex;
        padding-bottom: 14px;

        flex-direction: column;
        align-items: flex-start;

        align-self: stretch;
        border-radius: 0 0 14px 14px;
        background: #FFF;
    }

    &__link {
        margin-top: 10px;
        display: flex;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 10px;
        background: #F6F6F6;
        color: #121212;
        font-family: var(--font-family-Font-1, "Inter Display");
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: var(--line-height-15, 15px);
        /* 125% */
        margin: 0 14px;
        margin-top: 10px;
    }
}