.blog-card {
    background: white;


    .body {
        display: flex;
        padding: 14px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .title {
            color: #121212;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 145%;
            /* 26.1px */
            letter-spacing: -0.18px;
        }

        .content {
            margin-top: 8px;
            color: var(--www-nytimes-com-fuscous-gray, var(--color-grey-32, #52524F));
            font-family: "Inter Display";
            font-size: var(--font-size-14, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            padding: 0 !important;
            -webkit-line-clamp: 2;
            display: block;
            /* 20.3px */
        }
    }

    .footer {
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .category {
            color: #B72424;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: var(--line-height-15, 15px);
            /* 107.143% */
        }

        .right {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-left: auto;

            .item {
                display: flex;
                align-items: center;
                gap: 7px;

                .icon {
                    display: flex;
                    width: 14px;
                    height: 14px;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1/1;
                }

                .text {
                    color: #52524F;
                    font-family: var(--font-family-Font-1, "Inter Display");
                    font-size: var(--line-height-12, 12px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--line-height-15, 15px);
                    /* 125% */
                    width: auto;
                }
            }
        }
    }
}