.header-desktop {
    position: fixed;
    display: flex;
    height: 60px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background: #B72424;
    z-index: 100;

    &__logo {
        width: 153px;
        height: 40.519px;
        aspect-ratio: 153.00/40.52;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        gap: 24px;

        .text {
            align-items: center;
            justify-content: center;
            color: #FFF;
            display: flex;
            /* www.nytimes.com/Semantic/Link */
            font-family: var(--font-family-Font-1, "Inter Display");
            font-style: normal;
            font-weight: var(--font-weight-500, 500);
            font-size: 11.063px;

            line-height: var(--line-height-12, 12px);
            /* 104.918% */
            letter-spacing: var(--letter-spacing-0_12, 0.12px);

            &.hashtag {
                font-size: 11.438px;
                color: rgba(255, 255, 255, 0.50);


            }


            .extend {
                white-space: nowrap;
                display: flex;
                width: 37px;
                padding: 9.5px 10px 10.5px 10px;
                justify-content: center;
                align-items: center;
                align-self: stretch;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;

        .item {
            display: flex;
            padding: 7px 14px;
            align-items: center;
            gap: 7px;
            border-radius: 24px;
            color: #FFF;
            text-align: center;
            font-family: "Inter Display";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 16.8px */
            letter-spacing: -0.14px;

            &.bg-white {
                background: #FFF;
                color: #B5191D;
            }
        }
    }
}