.home--desktop {
    display: flex;
    padding: 23px 14px;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    background: #F3F2F2;
    margin-left: auto;
    margin-right: auto;

    &.white {
        background-color: white;
    }


    &__left {
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 301px;
        flex-shrink: 0;

        @media (max-width: 1250px) {
            display: none;
        }
    }

    &__middle {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: calc(100% - 651px - 28px - 28px);
        max-width: 550px;
        flex-shrink: 1 1 auto;

        @media (max-width: 1250px) {
            max-width: 564px;
            width: calc(100% - 380px);

            margin-left: auto;
            margin-right: auto;
        }

        @media(max-width: 768px) {}
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 350px;
        flex-shrink: 0;

        @media (min-width: 1024px) and (max-width: 1250px) {
            width: 380px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__radius {
        @media (min-width: 768px) {
            border-radius: 14px;
            background: #FFF;
            box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.05);
            overflow: hidden;
        }
    }

    &__share {
        display: flex;
        padding: 10px 14px;
        align-items: center;
        gap: 14px;
        align-self: stretch;
        background-color: white;

        .avatar {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 24px;
            background: #F3F2F2;
        }

        .text {
            width: 100%;
            color: #52524F;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
            /* 20.3px */
            letter-spacing: -0.14px;
        }
    }

    &__schedule {
        display: flex;
        padding: 14px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--item-spacing-s, 16px);
        align-self: stretch;
        width: 100%;
        border-radius: 0 0 14px 14px;
        background: #FFF;

        .item {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            .text {
                margin-top: 2px;
                font-family: var(--font-family-Font-1, "Inter Display");
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 145%;
                /* 20.3px */
                letter-spacing: -0.14px;
            }

            &.active {
                color: #0056FF;

            }

            img {
                width: 24px;
                height: 24px;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    }
}

.home--mobile {
    display: flex;
    gap: 10px;
    flex-direction: column;
}