/* Thanh search ẩn/hiện khi scroll */
.search-bar-hidden {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 98;

    @media (min-width: 768px) {
        top: 60px;
    }

    &.hide {
        transform: translateY(-100%);
    }
}

.swiper-wrapper {
    display: flex;
}

.swiper {
    padding: 0 16px;
}

/* --- Swiper styles tinh gọn --- */
.swiper-slide {
    display: flex !important;
    align-items: center !important;
}

.swiper-wrapper .swiper-slide .search__item {
    justify-content: center;
}

/* --- Search bar --- */
.search {
    display: flex;
    align-items: center; // GIỮ: căn giữa dọc
    position: sticky;
    top: 64px;
    gap: 14px;
    z-index: 20;
    justify-content: flex-start;
    width: 100%;

    &.header {
        padding-left: 24px;

    }

    &.overflow {
        width: calc(100% + 32px);
        margin: 0 -16px;
    }

    @media (min-width: 768px) {
        top: 60px;
    }

    &.black {
        background: var(--color-grey-10, #1A1A1A);
    }

    /* Phần chứa Swiper */
    .search-container {
        width: 100%;
        height: 40px;
        display: flex; // Swiper override → vẫn giữ flex
        align-items: center; // Căn giữa dọc

        @media (max-width: 768px) {
            height: 37px;
        }

        &.h-auto {
            height: auto;
        }
    }

    /* Item */
    &__item {
        display: flex;
        align-items: center;
        gap: 6px;
        width: max-content;
        cursor: pointer;

        &.last {
            margin-right: 24px;
        }

        .icon {
            width: 16px;
            height: 16px;

            svg {
                width: 100%;
                height: 100%;
                margin-bottom: 2px;
            }
        }

        /* Input search */
        .search {
            display: flex;
            padding: 0;
            width: 208px;
            flex: 1 1 auto;
        }

        /* Text */
        .name {
            color: #FFF;
            font-family: "Inter Display";
            font-size: 12px;
            font-weight: 500;
            white-space: nowrap;
            display: flex;
            align-items: center; // căn giữa
            gap: 10px;
            white-space: nowrap;

            @media (min-width: 768px) {
                padding: 3px 10px;
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.40);
                line-height: 20px;

                &.bg-gray {
                    background: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }
}

.hideInMobile {
    padding-right: 24px;

    @media (max-width: 768px) {
        display: none;
    }
}