.search {


    &.black {
        background: var(--color-grey-10, #1A1A1A);
    }

    .search-container {
        display: flex;
        align-items: center;
        width: 100vw;
        height: auto;


        padding-right: 14px;
        padding-left: 0;

        /* Horizontal Scroll */
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        white-space: nowrap;

        /* Hide scrollbar (cross-browser) */
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &>.item:first-child {
            padding-left: 0;
        }

        &.padding {
            padding: 10px 14px 10px 14px;
        }

        /* Item */
        .item {
            display: flex;
            align-items: center;
            gap: 6px;

            scroll-snap-align: start;
            width: max-content;

            .icon {
                width: 16px;
                height: 16px;

                svg {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 2px;
                }
            }

            .name {
                color: var(--color-white-solid, #FFF);
                font-family: var(--font-family-Font-1, "Inter Display");
                font-size: 12px;
                font-weight: 500;
                line-height: normal;

                white-space: nowrap;
                /* Không xuống dòng */
            }
        }
    }
}