.small-card {
    padding: 0 14px;
    background-color: white;
    width: 100%;

    &__info {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 7px;


        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            background: lightgray;
            aspect-ratio: 1/1;
        }

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            gap: 3px;
        }

        .row {
            display: flex;
            align-items: center;
            gap: 3px;
            width: 100%;
        }

        .small-card__name {
            color: #121212;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: var(--line-height-15, 15px);
            /* 107.143% */
        }

        .official {
            display: flex;
            width: 12px;
            height: 12px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;

        }

        .small-card__time {
            margin-top: 5px;
            color: #52524F;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: var(--line-height-15, 15px);
            /* 136.364% */
        }
    }

    &__container {
        padding: 14px 0;
        background: white;
        display: flex;
        gap: 10px;
        border-top: 1px solid #F0F0EE;
        border-bottom: 1px solid #F0F0EE;
        align-self: stretch;

        &.padding {
            padding: 10px 0;
        }


        .image {
            width: 88px;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 88px;
            display: block;
        }

        .body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            gap: 8px;

            .title {
                color: var(--www-nytimes-com-cod-gray, var(--color-grey-7, #121212));
                font-family: var(--font-family-Font-1, "Inter Display");
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 145%;
                /* 20.3px */
                letter-spacing: -0.14px;
            }


        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;


            .category {
                color: #B72424;
                font-family: var(--font-family-Font-1, "Inter Display");
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: var(--line-height-15, 15px);
                /* 107.143% */
            }

            .right {
                display: flex;
                align-items: center;
                gap: 14px;
                width: auto;
                justify-content: flex-end;

                .item {
                    width: max-content;
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    .icon {

                        display: flex;
                        width: 14px !important;
                        height: 14px;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;
                    }

                    .text {
                        color: #52524F;
                        font-family: var(--font-family-Font-1, "Inter Display");
                        font-size: var(--line-height-12, 12px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: var(--line-height-15, 15px);
                        /* 125% */
                        width: auto;
                    }
                }
            }
        }
    }
}