.info {
    width: 100%;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: lightgray;
        aspect-ratio: 1/1;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        gap: 3px;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 3px;
        width: auto;

        .name {
            color: #121212;
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: var(--line-height-15, 15px);
            /* 107.143% */
        }

        .official {
            display: flex;
            width: 12px;
            height: 12px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
        }
    }

    .time {
        color: #52524F;
        font-family: var(--font-family-Font-1, "Inter Display");
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: var(--line-height-15, 15px);
        /* 136.364% */
    }
}