.sport-group {
    background-color: white;

    .sport-group__container {
        position: fixed;
        z-index: 101;
        left: 0;
        right: 0;
        bottom: 0;
        background: #FFF;
        border-radius: 24px 24px 0 0;

    }

    .sport-group__title-container {
        display: flex;
        padding: 14px 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 24px 24px 0 0;
        border-bottom: 1px solid #F7F7F7;
    }

    .sport-group__title {
        color: #000;
        font-family: "Inter Display";
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 18px */
    }

    .sport-group__icon {
        display: flex;
        width: 32px;
        height: 32px;
        padding: 7px 14px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border-radius: 24px;
        background: #F6F6F6;

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
    }

    &__body {
        display: flex;
        padding: 14px 16px 32px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    &__row {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        width: 100%;

    }

    &__item {
        width: calc(100% - 46px);
        display: flex;
        align-items: center;
        gap: 14px;
        align-self: stretch;
        color: #121212;
        font-family: "Inter Display";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 15.6px */
        // white-space: nowrap;

        .image {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            border-radius: 14px;


        }

    }

    .sg-modal {
        position: fixed;
        inset: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .sg-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(3px);
        animation: fadeIn 0.25s ease forwards;
    }

    .sg-content {
        position: relative;
        width: 100%;
        background: white;
        border-radius: 20px 20px 0 0;
        padding-bottom: env(safe-area-inset-bottom);

        animation: slideUp 0.3s ease forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(100px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .overlay {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.45);
        z-index: 90;
    }

    .modal {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        border-radius: 20px 20px 0 0;
        padding: 20px;
        z-index: 100;
    }
}