.category-section {
    margin-top: 100px;
    background: #F3F2F2;
}

.category-layout {
    gap: 14px;
    max-width: 564px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-right: 32px;
    width: 100%;

    @media (max-width: 1024px) {
        margin-right: 0;
    }
}

.category-right {
    @media (max-width: 1024px) {
        display: none;
    }
}