.category-section {
    margin-top: 100px;
    background: #F3F2F2;
}

.category-layout {
    gap: 14px;
    max-width: 564px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-right: 32px;
}